:root {
  --primary: hsl(43, 100%, 53%);

  --background: hsl(0, 0%, 9%);
  --background-soft: hsl(0, 0%, 20%);
  --foreground: hsl(0, 0%, 100%);
  --foreground-soft: hsl(0, 0%, 78%);
}

* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

body {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  min-height: 100dvh;
  color: var(--foreground);
  background-color: var(--background);
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
}

.primary {
  color: var(--primary);
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
}

footer {
  text-align: center;
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  border-top: 1px solid var(--background-soft);
}
