.tasks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.task {
  border-radius: 20px;
  padding: 1rem;
  background: linear-gradient(
    120deg,
    hsl(224deg 100% 30%),
    hsl(224deg 100% 20%)
  );
  /* background-color: var(--background-soft); */
}

.task_content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.task_infos {
  flex: 1;
}

.task h2 {
  font-size: 1.8rem;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.task p {
  padding: 0 0.52rem;
  display: -webkit-box;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  opacity: 0.925;
}
